.container {
  border: 2px var(--foreground) solid;
  border-radius: 5px;
  padding: 1rem;
  width: 1024px;
  max-height: 100vh;
}

.delete {
  color: var(--delete);
}

.searchInput {
  display: flex;
  width: 50%;
}

.edit {
  color: var(--edit);
}

.table {
  max-width: 1024px;
}
