@use "../../mixins.module.scss" as *;

.wrapped {
  @include flex-column;
  gap: 2rem;
}
.required {
  color: var(--delete);
}
.title {
  font-size: 2rem;
}

.name {
  @include flex-column;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  color: var(--delete);
  margin-top: 1rem;
}
